/* 萌娘百科 “黑幕” */
/* 以下内容引用自萌娘百科 https://zh.moegirl.org.cn/MediaWiki:Gadget-site-styles.css，感谢！ */
/* MoeGirl Start */

.heimu,
.heimu rt {
  background-color: var(--ifm-color-content);
}

.heimu,
.heimu a,
a .heimu,
a.new .heimu,
span.heimu a.new,
span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited,
span.heimu a.mw-disambig,
span.heimu a.mw-redirect {
  transition: color 0.13s linear;
  color: var(--ifm-color-content);
  text-shadow: none;
}

span.heimu:hover,
span.heimu:active {
  color: white;
}

span.heimu:hover a,
a:hover span.heimu {
  color: lightblue;
}

span.heimu:hover a:visited,
a:visited:hover span.heimu {
  color: #c5cae9;
}

span.heimu:hover a.new,
a.new:hover span.heimu {
  color: #fcc;
}

span.heimu a.new:hover:visited,
a.new:hover:visited span.heimu {
  color: #ef9a9a;
}

span.heimu:hover a.extiw:visited,
a.extiw:visited:hover span.heimu {
  color: #d1c4e9;
}

/* MoeGirl End */

.alert--secondary .heimu {
  background-color: var(--ifm-color-secondary-light);
  color: var(--ifm-color-secondary-light);

  html.dark & {
    background-color: var(--ifm-color-secondary-dark);
    color: var(--ifm-color-secondary-dark);
  }
}

.alert--success .heimu {
  background-color: var(--ifm-color-success-light);
  color: var(--ifm-color-success-light);

  html.dark & {
    background-color: var(--ifm-color-success-dark);
    color: var(--ifm-color-success-dark);
  }
}

.alert--info .heimu {
  background-color: var(--ifm-color-info-light);
  color: var(--ifm-color-info-light);

  html.dark & {
    background-color: var(--ifm-color-info-dark);
    color: var(--ifm-color-info-dark);
  }
}

.alert--warning .heimu {
  background-color: var(--ifm-color-warning-light);
  color: var(--ifm-color-warning-light);

  html.dark & {
    background-color: var(--ifm-color-warning-dark);
    color: var(--ifm-color-warning-dark);
  }
}

.alert--danger .heimu {
  background-color: var(--ifm-color-danger-light);
  color: var(--ifm-color-danger-light);

  html.dark & {
    background-color: var(--ifm-color-danger-dark);
    color: var(--ifm-color-danger-dark);
  }
}
