name: Test

on:
  push:
    branches:
      - main
      - next
  pull_request:
    paths:
      - "nonebot_plugin_saa/**"
      - "tests/**"
      - "pyproject.toml"
      - "poetry.lock"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    env:
      OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python environment
        uses: ./.github/actions/setup-python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install prerequisites
        run: poetry install --with adapters

      - name: Run Pytest
        run: poetry run pytest --cov-report xml --cov=./nonebot_plugin_saa

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          env_vars: OS,PYTHON_VERSION
          token: ${{ secrets.CODECOV_TOKEN }}
